# C development
c/http_client

*.o
*.ko
*.obj
*.elf
*.lib
*.a
proxyFilter


*.out
*.dll
*.so
*.so.*
*.dylib

# Java development
*.class
*.jar
*.war
*.ear

# Common text editor backup files
*~
\#*\#
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

__MACOSX/
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# File formats we don't want
*.pdf
*.jpg
*.jpeg
*.gif
*.doc
*.docx
*.odt
*.xls
*.ods
